.post{
  display: flex;
  flex-direction: column;
  align-items: center;
  border:1px solid #eee;
  border-radius: 0.5rem;
}

.postImage img{
  max-width: 370px;
  display: block;
  border-radius: 0.5rem 0.5rem 0 0;
}

.postIntroContent{
  max-width: 300px;
  color:#333;
}

.titleLink{
  width: 250px;
  display: block;
  text-decoration: none;
  padding-top:8px;
  color:rgb(60, 145, 243);
}

@media (max-width:739px){
  .postImage img{
    max-width: 300px;
    display: block;
  }
}

@media (min-width: 739px) and (max-width: 989px) {
  .postImage img{
    max-width: 310px;
    display: block;
  }
}


