@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&family=Roboto:wght@400;700&display=swap');

body{
  font-family: 'Roboto', sans-serif;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

figure{
  max-width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 739px) {
  .container {
    max-width: 300px;
  }
}

@media (min-width: 739px) and (max-width: 989px) {
  .container {
    max-width: 640px;
  }
}
